body{
  background-image: url("IMG-20240701-WA0044.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  width: 300px;
  height: 500px;
  
}

h1, p{
  color: red;
  background-image: url("images (3).jpeg");
}